/* body {
    background-color: #eee;
} */

.navigation.col-lg-12 {
    margin-top: 10px;
}

.jumbotron {
    padding: 40px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
}

.btn-home {
    margin-right: 5px;
}

.btn-group-sm>.btn, .btn-sm {
    margin-left: 5px;
}

.navbar-nav .active {
    border-bottom: 3px solid orange;
}

.btn_transiciones {
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 4px solid blue;
    transition: border 2s, border-radius 500ms, background 5s;
}

.btn_transiciones:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;
}